//headerの色、メインの色
$header-background: rgba(2,158,355,0.7);

//contentsのbackground-color
$contents-background: #ffffff;

//#QandAのbackground-color
$question-background: rgba(250,250,197,1);

//footerのbackground-color
$footer-background: #9D8F8F;

//header,footerの文字色
$header-color: rgba(255,255,255,0.8);

//contentsの文字色
$contents-color: #707070;

//ボタンの色
$button-color: #909090;
