//ここからindex.html
body {
  margin: 0;
  padding: 0;

  #wrap {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    a.slick-slide {
      display: none;
    }
  }
}
